.deleteIcon {
   color: #ca5252;
    font-size:20px;
     margin:50px auto;
}
.editIcon {
    color: green;
    font-size:20px;
    margin:50px auto;
}
.orange {
    background: orange;
    border:orange;
}
.btn {
    color: #6c52ca;
    font-size:20px;
  
}