table {
    border-collapse: collapse;
}

.productRow.orange {
    background: orange;
    border: orange;
}

.editBlock,
.productBlock,
.block {
    display: block;
}

.editNone,
.productNone,
.none {
    display: none;
}

.display-flex {
    display: flex;
}

.edit-menu {
    display: flex;
    flex-direction: column;
    width: 500px;
}