table {
    border-collapse: collapse;
}

.productRow.orange {
    background: orange;
    border: orange;
}

.editNone,
.productNone {
    display: none;

}

.editBlock,
.productBlock {
    display: block;
}
.display-flex {
display:flex;}